.articEditHeader {
  :global {

    .ant-upload.ant-upload-drag {
      border: 0;
    }

    .ant-upload.ant-upload-drag {
      .ant-upload {
        padding: 0;
      }
    }

    .ant-upload-list-picture-card .ant-upload-list-item {
      width: 280px;
      height: 156px;
      margin: 0;
    }
  }
}

.updateCoverBox {
  :global {
    .ant-form-item-control-wrapper {
      height: 156px;
    }
  }
}

:global {
  .antd-pro-layouts-user-layout-content {
    padding-top: 0 !important;
  }
}
